@import '../../assets/styles/color.scss';
@import '../../assets/styles/font.scss';

@import '../../assets/styles/grid.scss';
@import '../../assets/styles/general.scss';

.top-bar {
  padding: 4px 0 0 0;
  border-top: 3px solid;
  border-bottom: 1px solid $whitecomb;

  font-family: $font-text;
  .-row {
    padding: 0 15px 0 5px;
  }
  &_translate {
    &--change-language {
      position: relative;
      margin-right: 5px;
      @include border-left;
    }
  }

  .top-bar__use {
    margin: 0 auto;
    margin-right: 0;
    &--my-wishlist {
      margin-left: 4px;
    }
    &--shopping-cart,
    &--my-wishlist {
      position: relative;
      padding-right: 6px;
      margin-right: 10px;
      line-height: 31px;
      a {
        color: $darkgray;
      }
      @include border-left;
    }
    &--my-account {
      .ant-btn {
        padding: 0 6px;
        border: none;
        box-shadow: none;

        background: transparent;

        text-shadow: none;
        font-family: $font-text;
        &:hover {
          border-color: transparent;
          color: $turquoise;
          background: transparent;
        }
        &:focus {
          border-color: transparent;
          background: transparent;
        }
      }
    }
  }
}

.top-bar-content {
  position: relative;
  padding: 40px 0;
  .-col {
    display: flex;
  }
  &__logo {
    display: flex;
    flex: 1;

    margin-right: 50px;
  }
  &__search {
    flex: 2;
    margin-top: 8px;
    padding-right: 76px;
  }
  &__cart {
    flex: 0;
    margin-top: 12px;
    img {
      width: 40px;
    }
  }
}

.top-nav {
  background: $turquoise;
  &__content {
    display: flex;
    justify-content: space-between;

    line-height: 50px;
    height: 50px;
    &--nav-menu {
      display: flex;
      justify-content: space-between;

      width: 65%;

      padding-right: 100px;
      margin: 1px 62px 0 0;
      font-family: $font-title;
      font-size: 18px;
      font-weight: $font-weight-md;
      text-transform: uppercase;
      .nav-menu {
        display: flex;
        margin: 0;
        list-style: none;
        a {
          position: relative;
          display: block;
          z-index: 2;

          padding: 0 20px;
          font-size: 19px;
          font-weight: 600;
          letter-spacing: 0.01rem;
          text-decoration: none;

          transition: 0.2s ease-in;
          -webkit-transition: 0.2s ease-in;
          -moz-transition: 0.2s ease-in;
          -ms-transition: 0.2s ease-in;
          -o-transition: 0.2s ease-in;
        }
        svg {
          display: none;
        }
      }
      .active {
        color: $dark;
      }
      a,
      span {
        color: $white;
        padding: 0 20px;
        cursor: pointer;
        &:hover {
          color: $dark;
        }
      }
    }
    &--social-network {
      width: 35%;

      background: $dark;
      color: $white;
      .social-network__content {
        display: flex;
        justify-content: space-evenly;

        margin-top: 1px;
        font-size: 16px;
      }
    }
  }
}
