@import '../../assets/styles/color.scss';
@import '../../assets/styles/font.scss';

@import '../../assets/styles/grid.scss';
@import '../../assets/styles/general.scss';

.top-bar {
  padding: 4px 0px;
  border-top: 3px solid;
  border-bottom: 1px solid $whitecomb;

  font-family: $font-text;
  .row {
    &.-justify-content {
      justify-content: flex-end;
    }
  }
  &__change-language {
    position: relative;
    margin-right: 5px;
    @include border-left;
  }
  &__my-wishlist {
    margin-left: 4px;
  }
  &__shopping-cart,
  &__my-wishlist {
    position: relative;
    padding-right: 6px;
    margin-right: 10px;
    a {
      color: $darkgray;
    }
    @include border-left;
  }
  &__my-account {
    .ant-btn {
      padding: 0 6px;
      border: none;
      box-shadow: none;

      background: transparent;

      text-shadow: none;
      font-family: $font-text;
      &:hover {
        border-color: transparent;
        color: $turquoise;
        background: transparent;
      }
      &:focus {
        border-color: transparent;
        background: transparent;
      }
    }
  }
}

.top-bar-content {
  padding: 40px 0;
  .-col {
    display: flex;
  }
  &__logo {
    display: flex;
    flex: 1;
  }
  &__search {
    flex: 2;
    margin-top: 8px;
    padding-right: 76px;
  }
  &__cart {
    flex: 0;
    margin-top: 12px;
    img {
      width: 40px;
    }
  }
}
