@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600;700&display=swap');

$font-text: 'Amiko', sans-serif;
$font-title: 'Dosis', sans-serif;

$font-weight-sm: 400;
$font-weight-md: 600;
$font-weight-bg: 700;

$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-bg: 20px;
$font-size-xm: 22px;
